.navHead {
  width: 100%;
  position: absolute;
  top: 33px;
  right: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.header > :first-child img {
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
}
.header > :nth-child(2) {
  display: block;
  width: 24px;
  height: 21px;
  cursor: pointer;
}

.slideMenu {
  backdrop-filter: blur(81.5485px);
  background: hsla(0, 0%, 0%, 0.95);
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(100%);
  height: 100%;
  width: 0;
  transition: all 0.3s;
  z-index: 2;
  overflow: hidden;
}
.slideOn {
  transform: translate(30%);
  box-shadow: -3px 5px 10px #111;
  width: 100%;
}

.slideMenu img {
  cursor: pointer;
  position: absolute;
  top: 25px;
  margin-left: 60%;
}

.listItem {
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  margin-top: 110px;
  list-style-type: none;
}
.listItem a {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2.7px;
  transition: font-weight 0.1s;
}
a:hover {
  color: #72839e !important;
}
.listItem li {
  margin-bottom: 32px;
}
li span {
  font-weight: bold;
  padding-right: 12px;
}

.active {
  color: #777 !important ;
  font-weight: bold;
  border-bottom: none !important ;
}

@media screen and (min-width: 546px) {
  .navHead {
    top: 24px;
  }
  .header{
    padding-left: .9375rem;
  }
  .header > :first-child img {
    width: 48px;
    height: 48px;
  }

  .header > :nth-child(2) {
    display: none;
  }
  .slideMenu {
    background: rgba(255, 255, 255, 0.04);
    transform: translate(0);
    width: 450px;
    height: 96px;
  }
  .slideMenu img {
    display: none;
  }
  .listItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0;
    padding: 0;
  }
  .listItem span {
    display: none;
  }
  .listItem li {
    margin-bottom: -30px;
  }

  .listItem a {
    display: inline-block;
    margin: 18px;
    padding-bottom: 36px;
  }

  .active {
    border-bottom: 3px solid #fff !important ;
    font-weight: 400;
    color: #ffffff !important ;
    margin-bottom: 15px !important ;
  }
}

@media screen and (min-width: 1200px) {
  .navHead {
    display: flex;
    align-items: center;
    gap: 64px;
    justify-content: flex-start;
    height: 96px;
    margin-top: 16px;
  }
  .header {
    height: 100%;
    margin-left: 3rem;
  }
  .slideMenu {
    margin-top: 40px;
    width: 830px;
  }
  .listItem a {
    margin-left: 0;
    margin-right: 50px;
  }
  .listItem span {
    display: inline-block;
  }
  .line {
    width: 30%;
    height: 2px;
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.25;
    z-index: 5;
  }
  
}
